<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Calendário Paroquial</div>
    </div>
  </div>
  <div class="page-content">
    <div class="post-list">
		<a href="" class="link post-horizontal"> 
			<div class="infos"> 
			  <div class="post-category">01/05 · 18:00 · Quarta</div> 
			  <div class="post-title">Abertura Paroquial do mês Mariano e da Peregrinação com o ícone de Nossa Senhora do Perpétuo Socorro</div> 
			  <div class="post-date">Matriz</div>                     
			</div>                               
		  </a>
		  <a href="" class="link post-horizontal"> 
			<div class="infos"> 
			  <div class="post-category">04/05 · Sábado</div> 
			  <div class="post-title">Adoração ao Santíssimo Sacramento - Paroquial</div> 
			  <div class="post-date">Matriz</div>                     
			</div>                               
		  </a>
		  <a href="" class="link post-horizontal"> 
			<div class="infos"> 
			  <div class="post-category">04/05 · Sábado</div> 
			  <div class="post-title">Adoração ao Santíssimo Sacramento - 1 Hora antes da missa</div> 
			  <div class="post-date">Comunidades</div>
			</div>                               
		  </a>
		  <a href="" class="link post-horizontal"> 
			<div class="infos"> 
			  <div class="post-category">05/05 · Domingo</div>
			  <div class="post-title">Adoração ao Santíssimo Sacramento - 1 Hora antes da missa</div> 
			  <div class="post-date">Comunidades</div>
			</div>                               
		  </a>
	</div>
   </div>
</div>
