<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Calendário Paroquial</div>
    </div>
  </div>
  <div class="page-content">
    <div class="post-list">
		<a href="" class="link post-horizontal"> 
			<div class="infos"> 
				<div class="post-category">26/04 · 19:00 · Sexta</div> 
				<div class="post-title">Formação de Lideranças (Pilar da Palavra), assessorada pela Arquidiocese</div> 
				<div class="post-date">Matriz</div>                     
            </div>                               
		</a>
		
		<a href="" class="link post-horizontal"> 
			<div class="infos"> 
				<div class="post-category">27/04 · Horário a definir · Sábado</div> 
				<div class="post-title">Tarde de Formação do Setor Pós-matrimônio da Pastoral Familiar</div> 
				<div class="post-date">Matriz</div>                     
            </div>                               
		</a>
		
		<a href="" class="link post-horizontal"> 
			<div class="infos"> 
				<div class="post-category">27/04 · 17:00 · Sábado</div> 
				<div class="post-title">Missa Votiva de Nossa Senhora do Perpétuo Socorro</div> 
				<div class="post-date">Matriz</div>                     
            </div>                               
		</a>
	</div>
   </div>
</div>
