<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Escala</div>
    </div>
  </div>
  
  <div class="page-content">
    <div class="post-list">
      <a href="" class="link post-horizontal"> 
        <div class="infos"> 
          <div class="post-category">05/05 · 07:00 · Domingo · Matriz</div> 
            <div class="post-title">Venda - Café da Manhã</div> 
            <div class="post-date">
              <span class="badge badge-with-image color-light-gray"><img src="img/avatars/ana-rita.jpg" alt="">Ana Rita</span>
              <span class="badge badge-with-image color-light-gray"><img src="img/avatars/karol.jpg" alt="">Karol</span>
              <span class="badge badge-with-image color-light-gray"><img src="img/avatars/manuela.jpg" alt="">Manuela</span>
              <span class="badge badge-with-image color-light-gray"><img src="img/avatars/mark.png" alt="">Mark</span>
            </div> 
          </div>       
        <div class="post-image"><img src="img/events/cafe-da-manha.jpg" alt=""></div>
      </a>

      <a href="" class="link post-horizontal"> 
        <div class="infos"> 
          <div class="post-category">05/05 · 19:00 · Domingo · Matriz</div> 
            <div class="post-title">Missa</div> 
            <div class="post-date"><span class="badge badge-with-image color-light-gray"><img src="img/avatars/paloma.jpg" alt="">Paloma</span></div> 
          </div>       
        <div class="post-image"><img src="img/cards/foto-cobertura.jpg" alt=""></div>             
      </a>
    </div>
  </div>
</div>
